//
@import 'partials/general.scss';
body {
    background-color: aqua;
}

header {
    height: 100px;
    width: 100%;
    background-color: antiquewhite;
    img {
        width: 70px;
        height: 70px;
    }
}