* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
  display: flex;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  background-color: aqua;
}

header {
  height: 100px;
  width: 100%;
  background-color: antiquewhite;
}
header img {
  width: 70px;
  height: 70px;
}