* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
  display: flex;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

header {
  height: 100px;
  width: 100%;
  background-color: #f3eee8;
}
header img {
  width: 70px;
  height: 70px;
}

footer .col .btn {
  background-color: #c7cece;
}

body {
  background-color: black;
  color: wheat;
}